@import "../../pages/variables.scss";

@media screen and (max-width: 900px) {
  #floater {
    display: none;
  }
  .above-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .pricing-wrapper{
    margin-top: 20px;
    margin-bottom: 40px;
    flex-grow: 1;
    width: 100%;
    max-width: 350px;
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
  }

  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.6;
    width: 100%;
    height: 1px;
    border: 1px solid #cccccc;
  }
}

@media screen and (min-width: 900px) {
  #floater {
    display: flex;
    position: absolute;
    max-width: 300px;
    margin-left: -520px;
    margin-top: -15px;
  }

  .pricing-wrapper{
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .above-table {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
  }


  .pricing-table {
    display: flex;
    flex-direction: row;
  }

  .separator {
    opacity: 0.6;
    width: 2px;
    border: 1px solid #cccccc;
    margin-right: 50px;
    margin-left: 50px;
  }
}

.pricing-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .above-table {
    .pricing-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;

      h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.6;
      }

      .ant-switch-checked {
        background-color: $main-color;
      }

      .ant-switch {
        margin-left: 20px;
        display: flex;
        margin-top: 10px;
      }
    }
  }

  .pricing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-alt;
    border: 1px solid #cccccc;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    padding: 50px;

    .pricing-table {
      display: flex;

      .variant {
        display: flex;
        flex-direction: column;
        width: auto;
        
        align-items: flex-start;

        .pricing-plan-label {
          font-weight: bold;
          font-size: 24px;
        }

        .price-label {
          // font-weight: bold;
          font-size: 20px;
          opacity: 0.8;
        }

        ul {
          list-style-type: none;
          margin-left: 0;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          li {
            list-style: none;
          }
          margin-top: 30px;
          margin-bottom: 30px;
        }

        .action-button {
          margin-top: auto;
          align-self: flex-start;
        }
      }
    }
  }
}
